{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home_Page</title>
  <style>
    .gfg {
        margin-left: 23%;
        margin-top: 10%;
    }

    .btn {
        margin-left: 45%;
        padding: 10px 20px;
        color: white;
        background-color: orange;
        font-size: 20px;
        border-radius: 5px;
        font-weight: bolder;
        cursor: pointer;

    }

    .btn:hover {
        color: orange;
        background-color: white;
        cursor: pointer;
    }

    strong {
        color: green;

    }
  </style>

</head>

<body>
<div class="container">
  <h1 class="gfg
		"> Welcome to <strong>Future Genius Autism Screening</strong> Student Project!</h1>
  <br>
  <form action="predict">
    <button class="btn" type="submit">Click Here</button>
  </form>
</div>



</body>

</html>
